gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Sensitive data and secrets
*.keystore
*.jks
*.properties
*.gradle
local.properties

# Firebase configuration files
**/google-services.json
**/GoogleService-Info.plist

# Other sensitive files
.env
secrets.json
